<div id="<%= dom_id(cart) %>">
  <h3 class="">Your Cart</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Quantity</th>
        <th></th>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% cart.line_items.each do |line_item| %>
      <% if line_item == @current_item%>
        <tr class='line-item-highlight'></tr>
      <%else%>
        <tr></tr>
      <% end%>
        <tr>
          <td><%= line_item.quantity %></td>
          <td>&times;</td>
          <td><%= line_item.product.title %></td>
          <td><%= number_to_currency(line_item.total_price, unit: 'KES') %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan='3'><strong>Total:</strong></td>
        <td><%= number_to_currency(cart.total_price, unit: 'KES') %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Button Group">
        <%= button_to 'Empty Cart', cart, method: :delete, class: 'btn btn-danger me-2' %>
        <%= button_to 'Checkout', new_order_path, method: :get, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>




