<% if flash[:error]%>
  <div class='alert alert-danger'>
    <%= flash[:error]%>
  </div>
<%end%>

<h1>Products</h1>
 <br>
<div id="products" class="card">
  <% @products.each do |product| %>
    <%= image_tag(product.image_url, height: '400px', width: '400px') %>
    <div class="card-body">
      <h5><%= product.title%></h5>
      <p><%= truncate(product.description,length: 14)%> </p>
      <%= link_to "Show this product", product, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
