<p style="color: green"><%= notice %></p>

<h1>Products</h1>
 <br>
<div id="products" class="card" style="width: 18rem;">
  <% @products.each do |product| %>
    <%= image_tag(product.image_url) %>
    <div class="card-body">
      <h5><%= product.title%></h5>
      <p><%= product.description%> </p>
      <%= link_to "Show this product", product, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
